<h3>Projects</h3>
<div class="cards">
    {% for project in projects %}
        {% if (project.vcs_type == 'bitbucket') %}
            {% set vcs_type = "bb" %}
        {% elseif (project.vcs_type == 'github') %}
            {% set vcs_type = "gh" %}
        {% endif %}
    <div class="card">
        <h4 class="title"><a href="{{ project.vcs_url }}" target="_blank">{{ project.username }}/{{ project.reponame }}</a></h4>
        <div class="content">
            <h5>Running builds</h5>
            <ul>
                {% for build in project.branches.master.running_builds %}
                <li><a href="https://circleci.com/{{ vcs_type }}/{{ project.username }}/{{ project.reponame }}/{{ build.build_num }}" target="_blank">{{ build.outcome|capitalize }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="content">
            <h5>Recent builds</h5>
            <ul>
                {% for build in project.branches.master.recent_builds %}
                <li><a href="https://circleci.com/{{ vcs_type }}/{{ project.username }}/{{ project.reponame }}/{{ build.build_num }}" target="_blank">{{ build.outcome|capitalize }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}
</div>
