<h3>Recent Builds</h3>
<div class="list">
{% for build in builds %}
    <div class="list-item">
        <a href="{{ build.build_url }}">{{ build.build_num }}</a>
        {{ build.subject }}
        {{ build.start_time | date("d/m/Y H:i:s", "Australia/Sydney") }}
        {{ build.stop_time | date("d/m/Y H:i:s", "Australia/Sydney") }}
    </div>
{% endfor %}
</div>