{% for server in servers %}
<div class="server">
    <h3>{{ server.label }}</h3>
    <div class="server-info">
        Status: {{ server.status }}<br>
        FQDN: {{ server.server_fqdn }}<br>
        IP: {{ server.public_ip }}
    </div>
    <div class="apps">
        <div class="cards">
            {% for app in server.apps %}
            <div class="card">
                <h4>{{ app.label }}</h4>
                <div>Application: {{ app.application }}</div>
                <div>FQDN: {{ app.app_fqdn }}</div>
                <div>Symlink: {{ app.symlink }}</div>
                <div>
                    CNAME & Aliases:
                    <ul>
                        <li>{{ app.cname }}</li>
                        {% for alias in app.aliases %}
                        <li>{{ alias }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}
