{% extends 'base.html.twig' %}

{% block title %}Reins{% endblock %}

{% block body %}

<div id="main-wrapper">
    <h1>Reins</h1>
    <div id="content-wrapper">
        <div id="circleci-wrapper">
            <h2>CircleCI</h2>
            <section id="circleci-recent-builds" class="api-data-wrapper" data-api-url="/api/circleci/recent-builds"></section>
            <section id="circleci-projects" class="api-data-wrapper" data-api-url="/api/circleci/projects"></section>
        </div>
        <div id="cloudways-wrapper">
            <h2>Cloudways</h2>
            <section id="cloudways" class="api-data-wrapper" data-api-url="/api/cloudways"></section>
        </div>
    </div>
</div>
{% endblock %}
