#main-wrapper { margin: 1em auto; width: 96%; font: 18px/1.5 sans-serif; }
#main-wrapper code { background: #F5F5F5; padding: 2px 6px; }
section {
    border: 1px solid silver;
    border-radius: 5px;
    padding: 0 1em;
    margin-bottom: 2em;
}
section > h2 {
    margin-top: 0.5em;
}
.card {
    word-break: break-all;
}
.card > h3 {
    margin-top: 0.3em;
}

@media only screen and (min-width: 680px) {
    #content-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #content-wrapper > div {
        box-sizing: border-box;
        flex-basis: 48%;
    }
}

@media only screen and (min-width: 1024px) {
    #main-wrapper { font: 14px/1.5 sans-serif; }
    .cards {
        display: grid;
        grid-template-columns: repeat(2,49%);
        justify-content: space-between;
        grid-row-gap: 1em;
    }
}

@media only screen and (min-width: 1260px) {
    .cards {
        grid-template-columns: repeat(3,31%);
    }
}